@charset "utf-8";

#header {height: 90px;}
#loginPage .loginTop{
    background-image: url(../img/bg_sub.jpg);
    padding: 100px 0;
    text-align: center;
    background-position: center bottom;
    background-size: cover;
}

#loginPage .loginTop h2 {
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #333;
    font-weight: 700;
}

#loginPage .loginTop p{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: #666666;
    padding-top: 5px;
}

.loginBox h3 {
    text-align: center;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: -3px;
    font-weight: 300px;
    padding-top: 120px;
    color: #333;
}
.loginBox img {
    padding-left: 940px;
    padding-top: 20px;
}

.loginBox .info {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    color: #666666;
    text-align: center;
    padding-top: 20px;
    letter-spacing: -1px;
}
.loginBox .loginForm {position: relative; margin-top: 80px;}

.loginBox .loginForm .idbg {
    position: absolute; top:0px; left: 650px;
    border: 1px solid rgb(224, 224, 224);
    width: 300px;
    padding: 10px;
    margin-top: 15px;
    background-image: url(../img/id_bg.gif);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.loginBox .loginForm .pwbg {
    position: absolute; top:0px; left: 955px;
    border: 1px solid rgb(224, 224, 224);
    width: 300px;
    padding: 10px;
    margin-top: 15px;
    background-image: url(../img/pw_bg.gif);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.loginBox .loginForm button {
    margin: 50px 0 20px 860px;
}

.loginBox .loginForm img {padding: 1px;
}
.loginBox .joinFind {text-align: center;
    margin: 10px 0 100px 0;
}

.loginBox .joinFind a {
    border: 1px solid #e6e6e6;
    padding: 10px 15px;
    font-size: 13px;
    background-color: #f8f8f8;
    
}
